@model OnlineShopJoana.Models.EditUserViewModel

@{
    Layout = null;
}

<!DOCTYPE HTML>
<html lang="zxx">
<head>
    <title>Online plants shop - Edit User</title>
    <link href="~/login/css/style.css" rel='stylesheet' type='text/css' />
    <!-- online fonts-->
    <link href="https://fonts.googleapis.com/css?family=Amiri:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="~/template/style.css">
</head>

<body>
    <!--  particles  -->
    <div id="particles-js"></div>
    <!-- //particles -->


    <div class="w3ls-pos">

        <div class="pull-right">
            <a asp-area="" asp-controller="Home" asp-action="Index" style="color:#ffffff;">
                <i class="fa fa-home"></i> Plants Shop
            </a>
        </div>

        <br />

        <h1 style="color:#ffffff">Edit User</h1>
        <div class="w3ls-login box">

            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="agile-field-txt">
                    <span asp-validation-for="FirstName" class="text-warning"></span>
                    <input asp-for="FirstName" type="text" class="form-control" name="FirstName" placeholder="First Name" />
                </div>

                <div class="agile-field-txt">
                    <input asp-for="LastName" type="text" class="form-control" name="LastName" placeholder="Last Name" />
                    <span asp-validation-for="LastName" class="text-warning"></span>
                </div>

                <div class="agile-field-txt">
                    <input asp-for="PhoneNumber" type="tel" class="form-control" name="PhoneNumber" placeholder="Telephone" />
                    <span asp-validation-for="PhoneNumber" class="text-warning"></span>
                </div>

                <div class="agile-field-txt">
                    <input asp-for="Address" type="text" class="form-control" name="Address" placeholder="Address" />
                    <span asp-validation-for="Address" class="text-warning"></span>
                </div>

                <div class="agile-field-txt">
                    <select asp-for="SelectedRole" name="SelectedRole" class="form-control" asp-items="@Model.Roles"></select>
                    <span asp-validation-for="SelectedRole" class="text-danger"></span>
                </div>


                <div asp-validation-summary="All" class="text-danger"></div>


                <div class="w3ls-bot">
                    <input type="submit" value="Save" />
                </div>
                <div class="agile_label">
                    <a asp-action="ListUsers" class="btn btn-warning pull-right"><i class="fa fa-backward"></i> To Users</a>
                </div>
            </form>
        </div>
    </div>

    <!-- scripts required  for particle effect -->
    <script src="~/login/js/particles.min.js"></script>
    <script src="~/login/js/index.js"></script>
    <!-- //scripts required for particle effect -->
</body>

</html>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
}

