@*@model OnlineShopJoana.WEB.Data.Entities.Order*@

@{
    ViewData["Title"] = "ConfirmOrder";
}


@{
    Layout = null;
}

<!DOCTYPE HTML>
<html lang="zxx">
<head>
    <title>Online plants shop - Login</title>
    <link href="~/login/css/style.css" rel='stylesheet' type='text/css' />
    <!-- online fonts-->
    <link rel="stylesheet" href="~/template/style.css">
</head>

<body>
    <!--  particles  -->
    <div id="particles-js"></div>
    <!-- //particles -->
    <div class="w3ls-pos">

        <div class="agile_label">
            <h2 style="color:#ffffff">
                Thank you,<br />
                @ViewBag.Message
            </h2>
        </div>
    </div>
    <!-- scripts required  for particle effect -->
    <script src="~/login/js/particles.min.js"></script>
    <script src="~/login/js/index.js"></script>
    <!-- //scripts required for particle effect -->
</body>

</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
}

