@model OnlineShopJoana.WEB.Models.DeliverViewModel

@{
    ViewData["Title"] = "Deliver";
}

<div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center"
     style="background-image: url('../template/img/bg-img/18.jpg');">
    <h2 style="color:#ffffff">Deliver</h2>
</div>

<br />
<div class="row">
    <div class="col-md-4 offset-md-4">
        <form asp-action="Deliver">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="DeliveryDate" class="control-label"></label>
                <input asp-for="DeliveryDate" class="form-control" />
                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-warning pull-right"><i class="fa fa-backward"></i> To list</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
