@{
    ViewData["Title"] = "Confirm email";
}

<h2 class="center-block">@ViewData["Title"]</h2>

<div>
    <p>
        Thank you for confirming your email. Now you can login into system.
    </p>
</div>


<div>
    <img src="~/images/tenor.gif" style="margin-left:150px;" />
</div>